*{
    background-color: black;
    color: white;
    border: 3px;
    border-color: white;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    image-rendering:pixelated;
}
body{
    width: 640px;
    height: 480px;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100px;
    object-fit:inherit;
    border-style: ridge;
}
.battle-options{
    background-color: blue;
    width: 400px;
    height: fit-content;
    border-style: ridge;
    right: 583px;
    top: 402.5px;
    position: absolute;
}
.enemy{
    background-color: blue;
    width: 200px;
    height: fit-content;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
}
.player-stats{
    background-color: blue;
    width: 200px;
    height: fit-content;
    border-style: ridge;
    margin-left: 421px;
    top: 383px;
    position: absolute;
}
button{
    background-color: blue;
    border-style: none;
    width: 50px;
    height: 50px;
    padding: 0%;
}
button img{
    width: 50px;
}
.battle-options *{
    background-color: blue;
    cursor: pointer;
}
.enemy *{
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.enemy img{
    margin-left: 45px;
}
.player-stats *{
    background-color: blue;
}
footer{
    bottom: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 640px;
}